body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(2);
}

.frame {
  background-color: #e4d9f6;
  height: 100%;
  padding: 7vw 0 7vw 0;
  text-align: center;
  font-size: 1.1rem;
}

.footer {
  background-color: #fad1e5;
  text-align: center;
  padding: 3vw;
  font-size: 1.1rem;
}

.logo-align {
  max-height: 100%;
  height: calc(1.625rem + 4.5vw);
  width: auto;
}

.footer-link {
  text-decoration-style: dotted;
  color: #870443;
  cursor: pointer;
  font-weight: 500;
}

.footer-link:hover {
  color: #198754;
}

.title-underline {
  text-decoration: underline solid #ffc107;
}

.megaphone {
  background-color: #ffc107;
  margin-right: 10px;
  width: calc(1.475rem + 2.1vw);
  height: auto;
}

.module-link {
  background-color: #0d6efd;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.module-link:hover {
  background-color: rgb(42, 39, 39);
}

.emph {
  color: #751ae3;
  font-weight: 500;
}

button[id^='dataset-tabs'] {
  color: #751ae3;
  font-weight: 500;
  font-size: 0.9rem;
}

ul.mb-3.nav.nav-tabs {
  margin: auto;
}

button[id^='dataset-tabs'].nav-link:hover {
  color: #057848;
  border-color:rgb(21, 114, 55);
}

button[id^='dataset-tabs'].nav-link.active {
  border: none;
  background-color: #7b34ec;
  color: white;
}

ul[role="tablist"] {
  background-color: rgb(253, 214, 224);
  border-color: black;
}

ol, ul {
  max-width: 750px;
  justify-content: center;
}

ol li, ul li {
  margin: 10px;
  text-align: justify;
}

ol li::marker {
  color: #db6d13;
  font-size: 1.5rem;
  font-weight: bold;
}

.underline {
  color: #360d6f;
  font-weight: 400;
}

@media (min-width: 1200px) {
  .megaphone {
    width: 3rem;
    height: auto;
  }

  .logo-align {
    width: 5rem;
    height: auto;
  }
  
}